/* ------------------------- */

@font-face {
 font-family: Muli-Bold;
 src: url('../fonts/Muli-Bold.ttf');
}

@font-face {
 font-family: Muli-BoldItalic;
 src: url('../fonts/Muli-BoldItalic.ttf');
}

@font-face {
 font-family: Muli-ExtraLight;
 src: url('../fonts/Muli-ExtraLight.ttf');
}

@font-face {
 font-family: Muli-ExtraLightItalic;
 src: url('../fonts/Muli-ExtraLightItalic.ttf');
}

@font-face {
 font-family: Muli-Italic;
 src: url('../fonts/Muli-Italic.ttf');
}

@font-face {
 font-family: Muli-Light;
 src: url('../fonts/Muli-Light.ttf');
}

@font-face {
 font-family: Muli-LightItalic;
 src: url('../fonts/Muli-LightItalic.ttf');
}

@font-face {
 font-family: Muli-Semi-BoldItalic;
 src: url('../fonts/Muli-Semi-BoldItalic.ttf');
}

@font-face {
 font-family: Muli-SemiBold;
 src: url('../fonts/Muli-SemiBold.ttf');
}

@font-face {
 font-family: Muli;
 src: url('../fonts/Muli.ttf');
}


/* ------------------------- */

:root {
 --primary: #048A81;
 --primaryDark: #12615b;
 --second: #444545;
 --third: #DE3C4B;
 --fourth: #87F5FB;
 --fiveth: #84CAE7;
 --gray: #a2a0a9;
}


/* Stat Muli font classes */

.muli-bold {
 font-family: Muli-Bold;
}

.muli-bold-italic {
 font-family: Muli-BoldItalic;
}

.muli-extra-light {
 font-family: Muli-ExtraLight;
}

.muli-extra-light-italic {
 font-family: Muli-ExtraLightItalic;
}

.muli-italic {
 font-family: Muli-Italic;
}

.muli-light {
 font-family: Muli-Light;
}

.muli-light-italic {
 font-family: Muli-LightItalic;
}

.muli-Semi-bold-italic {
 font-family: Muli-Semi-BoldItalic;
}

.muli-semi-bold {
 font-family: Muli-SemiBold;
}

.muli {
 font-family: Muli;
}


/* End Muli font classes */

body {
 /* background-color: var(--fiveth); */
 font-family: Muli;
 /* height: 100000px; */
 background-color: #EEFCFB;
}

/* Start The navbar */

.navbar
{
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

@media (min-width: 992px) {
    .sing-in {
        background-color: var(--primary) !important;
        border-radius: 20px 0 0px 20px;
        border-right: 1px solid white;
    }
    .sing-up {
        background-color: var(--primary) !important;
        border-radius: 0px 20px 20px 2px;
    }
    .sing-in>a,
    .sing-up>a {
        color: white !important;
    }
    .home-about-link
    {
        font-family: Muli-Bold;
        color: var(--second) !important;
    }
}

/* End The navbar */

/* Start the slider */

/* .slider .carousel-item
{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
} */

.swiper-wrapper .carousel-one
{
    background-image: url('../images/run.jpg');
}

.swiper-wrapper .carousel-two
{
    background-image: url('../images/paint.jpg');
}

.swiper-wrapper .carousel-three
{
    background-image: url('../images/chess.jpg');
}

.swiper-wrapper .carousel-four
{
    background-image: url('../images/football.jpg');
}

.swiper-container .overlay
{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(57, 63, 52, 0.6);
	z-index: 2;
}

/* End the slider */


.second-color
{
    color: var(--second) !important;
}

/* .above-section-center
{
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    z-index: 3;
    color: #FFF;
	font-size: 200%;
} */

.section-center
{
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    z-index: 3;
}

/* .let-go-text
{
    color: white;
    font-size: 200%;
} */

.btn-primary
{
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 40px !important;
}

.btn-primary:hover
{
    background-color: var(--primaryDark);
    border-color: var(--primaryDark);
    border-radius: 40px !important;
}

.btn-primary:active
{
    background-color: var(--primaryDark) !important;
    border-color: var(--primaryDark) !important;
    border-radius: 40px !important;
}

@media (max-width: 992px)
{
    .btn-primary
    {
        font-size: 80%;
    }
    .navbar-nav > li:hover
    {
        background-color: var(--primary);
        border-radius: 50px;
    }
    .navbar-nav > li > a
    {
        font-family: Muli-Bold;
        color: var(--second) !important;
    }
    .navbar-nav > li > a:hover
    {
        color: white !important;
    }
}

@media (max-width: 768px)
{
    .btn-primary
    {
        font-size: 20px;
    }
}

.swiper-pagination-bullet-active
{
    background-color: var(--primary) !important;
}

.join-btn
{
    font-size: 25px;
}

/* Start How it Works */

.how-it-works .step-head
{
    color: #2F2E41;
}

.how-it-works .short-desc
{
    color: var(--primary);
    font-size: 1.5rem;
}

.how-it-works .long-desc
{
    color: #041B15;
    font-size: 1.1rem;
}

.how-it-works .step-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.images-card
{
    perspective: 1000px;
}

.image-background-right
{
    /* transform: rotateY(10deg); */
    transform: rotateY(10deg);
}

.image-rotate-right
{
    /* transform: skewY(2deg); */
    transform: rotateY(10deg);
    width: 65%;
    position: absolute;
    left: 30%;
    top: 33%;
    /* display: none; */
}

.image-background-left
{
    transform: rotateY(-10deg);
}

.image-rotate-left
{
    /* transform: skewY(2deg); */
    transform: rotateY(-10deg);
    width: 65%;
    position: absolute;
    left: 30%;
    top: 33%;
    /* display: none; */
}

/* End How it Works */
