/* ------------------------- */

@font-face {
 font-family: Muli-Bold;
 src: url('../fonts/Muli-Bold.ttf');
}

@font-face {
 font-family: Muli-BoldItalic;
 src: url('../fonts/Muli-BoldItalic.ttf');
}

@font-face {
 font-family: Muli-ExtraLight;
 src: url('../fonts/Muli-ExtraLight.ttf');
}

@font-face {
 font-family: Muli-ExtraLightItalic;
 src: url('../fonts/Muli-ExtraLightItalic.ttf');
}

@font-face {
 font-family: Muli-Italic;
 src: url('../fonts/Muli-Italic.ttf');
}

@font-face {
 font-family: Muli-Light;
 src: url('../fonts/Muli-Light.ttf');
}

@font-face {
 font-family: Muli-LightItalic;
 src: url('../fonts/Muli-LightItalic.ttf');
}

@font-face {
 font-family: Muli-Semi-BoldItalic;
 src: url('../fonts/Muli-Semi-BoldItalic.ttf');
}

@font-face {
 font-family: Muli-SemiBold;
 src: url('../fonts/Muli-SemiBold.ttf');
}

@font-face {
 font-family: Muli;
 src: url('../fonts/Muli.ttf');
}


/* ------------------------- */

:root {
 --primary: #048A81;
 --primaryDark: #12615b;
 --second: #444545;
 --third: #DE3C4B;
 --fourth: #87F5FB;
 --fiveth: #84CAE7;
}


/* Stat Muli font classes */

.muli-bold {
 font-family: Muli-Bold;
}

.muli-bold-italic {
 font-family: Muli-BoldItalic;
}

.muli-extra-light {
 font-family: Muli-ExtraLight;
}

.muli-extra-light-italic {
 font-family: Muli-ExtraLightItalic;
}

.muli-italic {
 font-family: Muli-Italic;
}

.muli-light {
 font-family: Muli-Light;
}

.muli-light-italic {
 font-family: Muli-LightItalic;
}

.muli-Semi-bold-italic {
 font-family: Muli-Semi-BoldItalic;
}

.muli-semi-bold {
 font-family: Muli-SemiBold;
}

.muli {
 font-family: Muli;
}


/* End Muli font classes */

body {
 background-color: var(--fiveth);
 font-family: Muli;
}

/* Start The navbar */

.sing-in {
 background-color: var(--primary) !important;
 border-radius: 20px 0 0px 20px;
 border-right: 1px solid white;
}

.sing-up {
    background-color: var(--primary) !important;
    border-radius: 0px 20px 20px 2px;
}

.sing-in>a,
.sing-up>a {
    color: white !important;
}

/* End The navbar */

/* Start the slider */

.slider
{
	background-color: #DDD;
}

.slider .carousel-inner
{
	display: flex;
	align-items: center;
	justify-content: left;
}

.slider .carousel-item
{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.slider .carousel-one
{
    background-image: url('../images/run.jpg');
}

.slider .carousel-two
{
    background-image: url('../images/basketball.jpg');
}

.slider .carousel-three
{
    background-image: url('../images/chess.jpg');
}

.slider .carousel-four
{
    background-image: url('../images/painting.jpg');
}


/* .slider .carousel-inner h1
{
	position: absolute;
	z-index: 3;
	color: #FFF;
	font-size: 70px;
    left: 100px;
    text-align: center;
} */

.slider .carousel-inner .overlay
{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(57, 63, 52, 0.6);
	z-index: 2;
}

/* End the slider */


.second-color
{
    color: var(--second) !important;
}

.above-section-center
{
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    z-index: 3;
    color: #FFF;
	font-size: 200%;
}

.section-center
{
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    z-index: 3;
}
/* 
.let-go-text
{
    color: white;
    font-size: 200%;
} */

.btn-primary
{
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 40px !important;
}

.btn-primary:hover
{
    background-color: var(--primaryDark);
    border-color: var(--primaryDark);
    border-radius: 40px !important;
}
